body {
  font-family: "Karla";
  font-size: 22px;
}

button:hover {
  background-color: lightblue;
}

.is-leap {
  color: green;
}

.is-not-leap {
  color: red;
}

.description {
  color: orangered;
}
